<select name='{{ dropdown_name }}' id='{{ dropdown_id }}' onchange='loadConferenceRate()'>
{% for conference in conferences %}
<option value='{{ conference.conferenceid }}' meeting='{{ conference.meeting }}' {% if conference.conferenceid == selected_conferenceid %}selected {% endif %}> 
{% set conferencerate = conference.effective_conferencerate %}
{{ conference.meeting }} (
{% if conferencerate.city %}{{ conference.effective_conferencerate.city }}, {% endif %}
{% if conferencerate.state %}{{ conference.effective_conferencerate.state }}, {% endif %}{{ conference.effective_conferencerate.country }})
</option>
{% endfor %}
</select>
