{% extends 'page_template.html' %}

{% block head %}{{ super() }}<title>Conferences/Travel</title>{% endblock %}

{% block body %}
  {{ super() }}
    <div class="title">
      <div>
        <h1>List of Conferences/Meetings/Travel</h1>
        {% if g.user.admin %}
          <a href='javascript:void(0)' onClick="editDialog('/conferences/ajax/new/0', $('#conferencesTable'))" id='newButton'>New</a>
        {% endif %}
      </div>
      <button id="save_button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick="save_row_preference($('#conferencesTable').DataTable())">Save Row Preference</button>
    </div>
    <div class="alert ui-corner-all ui-state-highlight" style="display: none;"></div>
    <div id="conferencesTableDiv">
      <table id="conferencesTable" class="display" cellspacing="0" width="100%">
        <thead><tr><th>Meeting</th><th>Location</th><th>Per Diem</th><th>Lodging</th><th>Registration</th>
                    <th>Ground Transport</th><th>Airfare</th><th>&nbsp;</th></tr></thead>
      </table>
    </div>
{% endblock %}

{% block javascript %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $("#newButton").button();
      loadTable('/conferences/ajax/list', false, $('#conferencesTable'));
    });
  </script>
{% endblock %}

