<!DOCTYPE html>
<html>
    <head>
        <title>Editing Expense Types</title>
    </head>
    <body>
    <div>
          <form id="expensetypeForm" action="index.php" method="GET">
            <input type="hidden" name="act" value="save"/>
            <input type="hidden" name="view" value="expensetype-save"/>
            <input type="hidden" id="expensetypeid" name="expensetypeid" 
              {% if not expensetype %} value="new"/>
              {% else %} value="{{ expensetype.expensetypeid }}"/>
              {% endif %}
            <table><tr><th align="left">Expense Description</th></tr>
            <tr><td><input type="text" name="description" id="desciption" 
              {% if not expensetype %} value='' size="40"/>
              {% else %} value="{{ expensetype.description }}" size="40"/>
              {% endif %}
            </td></tr>
            </table>
          </form>
    </div>

    </body>
</html>
