<!DOCTYPE html>
<html>
    <head>
        <title>Editing Expense Types</title>
    </head>
    <body>
    <div>
          <form id="expensetypeForm" action='' method="POST">
            <input type="hidden" id="expensetypeid" name="expensetypeid" 
              {% if not expensetype %} value=""/>
              {% else %} value="{{ expensetype.expensetypeid }}"/>
              {% endif %}
            <table><tr><th align="left">Expense Description</th></tr>
            <tr><td><input type="text" name="description" id="description" 
              {% if not expensetype %} value='' size="40"/>
              {% else %} value="{{ expensetype.description }}" size="40"/>
              {% endif %}
            </td></tr>
            </table>
          </form>
    </div>

    </body>
</html>
