<!DOCTYPE html>
<html>
    <head>
        <title>Editing {{ fbmsaccount.accountno }}</title>

    </head>
    <body>
    <div id="fbmseditdiv">
       <form id="fbmsForm" action="index.php" method="GET">
            <input type="hidden" name="act" value="save"/>
            <input type="hidden" name="view" value="fbms-save"/>
            <input type="hidden" id="proposalid" name="proposalid" value="{{ fbmsaccount.proposalid }}"/>
            <input type="hidden" id="fbmsid" name="fbmsid" value="{{ fbmsaccount.fbmsid }}"/>
            <table><tr><th>Account No.</th>
            <td><input type="text" name="accountno" id="accountno" value="{{ fbmsaccount.accountno }}" size="24"/></td></tr>
            </table>
       </form>
    </div>
    </body>
</html>
