{% include 'development-warning.html' %}
<div id="menubar" class="ui-widget-header ui-corner-all">
  <div class="menu-items">
    <a href="/proposals" class="menu-button" id="projects">Projects</a>
    <a href="/reports" class="menu-button" id="reports">Reports</a>
    <a href="/people" class="menu-button" id="people">People</a>
    <a href="/conferences" class="menu-button" id="conferences">Conferences/Travel</a>
    <a href="/expensetypes" class="menu-button" id="expensetypes">Expense Categories</a>
    <a href="/overhead" class="menu-button" id="overhead">Overhead Rates</a>
    <a href="/programs" class="menu-button" id="programs">Programs</a>
  </div>
  <div class="menu-user">{{ user.name }}</div>
  </div>
