<!DOCTYPE html>
<html>
    <head>
        <title>Editing Overhead</title>
        <script src="{{ url_for('static', filename='js/date-tools.js') }}"></script>
    </head>
    <body>
    <div>
          <form id="overheadForm" action="index.php" method="GET">
            <input type="hidden" name="act" value="save"/>
            <input type="hidden" name="view" value="overhead-save"/>
            <input type="hidden" id="proposalid" name="proposalid" value="{{ overheadrate.proposalid }}"/>
            <input type="hidden" id="overheadid" name="overheadid" value="{{ overheadrate.overheadid }}"/>
            <table><tr><th>Overhead Rate</th>
            <td><input type="text" name="rate" id=rate" value="{{ overheadrate.rate }}" size="10"/></td></tr>
            <tr><th>Description</th>
            <td><input type="text" name="description" id="description" value="{{ overheadrate.description }}" size="32"/></td></tr>
            <tr><th>Effective Date</th>
            <td><input type="text" name="effectivedate" id="effectivedate" value="{{ overheadrate.effectivedate|dateformat }}" size="12"
                 onchange="updateDropdown('effectivedate');"/>
                 {% with dropdown_name = 'effectivedate', dropdown_id = 'effectivedate', selected_fy = overheadrate.effectivedate %}
                  {% include 'fiscalyear-dropdown.html' %}
                 {% endwith %}
            </td></tr>
            </table>
          </form>
    </div>

    <script type="text/javascript" charset="utf-8">
    $(function() {
      $("#effectivedate").datepicker();

      updateDropdown ('effectivedate');
    });
    </script>
    </body>
</html>
