{% extends 'page_template.html' %}

{% block head %}{{ super() }}<title>Overhead Rates</title>{% endblock %}

{% block body %}
  {{ super() }}
  <div class="title">
    <div>
      <h1>List of Overhead Rates</h1>
      {% if g.user.admin %}
        <a href='javascript:void(0)' onClick="editDialog('/overhead/ajax/edit/0', $('#overheadTable'))" id='newButton'>New</a><p/>
      {% endif %}
    </div>
    <button id="save_button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick="save_row_preference($('#overheadTable').DataTable())">Save Row Preference</button>
  </div>
  <div class="alert ui-corner-all ui-state-highlight" style="display: none;"></div>
  <div id="overheadTableDiv">
      <table id='overheadTable' class='display' cellspacing='0' width='100%'>
        <thead><tr><th>Rate</th><th>Description</th><th>Fiscal Year</th><th>&nbsp</th></tr>
      </table>
  </div>
{% endblock %}

{% block javascript %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $("#newButton").button();
      loadTable('/overhead/ajax/list', false, $('#overheadTable'));
    });
  </script>
{% endblock %}
