<div>
  <div class="alert ui-corner-all ui-state-highlight" style="display: none;"></div>
  <div id="displayTitle" data-content="Create Person"></div> 
  <form id="peopleForm" action="" method="POST">
    <input type="hidden" autofocus />
    <table><tr><th>Name</th>
    <td><input type="text" name="name" id="name" value="" size="40"/></td></tr>
    <tr><th>Username</th>
    <td><input type="text" name="username" id="username" value="" size="40"/></td></tr>
    <tr><th>Administrator</th>
    <td><input type="checkbox" name="admin" id="admin" value="true" /></td></tr>
    </table>
  </form>
</div>