<!DOCTYPE html>
<html>
    <head>
        <title>Funding Programs Listing</title>
        {% include 'menu-header.html' %}
    </head>
    {% for error in debug %}
      <pre>error.msg</pre>
    {% endfor %}
    <body>
        {% include 'menu-tags.html' %}
      <div class="container">
        <div id="title">
          <h2>List of Funding Programs
          {% if g.user.admin %}
          <a href='javascript:void(0)' onClick="editDialog('/programs/ajax/edit/0', null, $('#programsTable'))" id='newButton'>New</a>
          {% endif %}
          <br>

          <button id="save_button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick="save_row_preference($('#programsTable').DataTable())">Save Row Preference</button>
          </h2>
        </div>
        <div id="warningDiv" class="ui-corner-all ui-state-highlight" style="width=100px;align=right;"></div>
        <div id="editDialog" class="ui-widget"></div>
        <div id="programsTableDiv">
        <table id="programsTable" class="display" cellspacing="0" width="100%">
          <thead><tr><th>Name</th><th>Agency</th><th>POC</th><th>POC E-Mail</th><th>Start</th><th>End</th></tr></thead>
        </table>
        </div>
      </div>

      <script type="text/javascript" charset="utf-8">
        function saveProgram() {
          $.post("index.php", $("#programForm").serialize())
            .always( function () {
              loadProgramTable (true);
              dialog.dialog("close");
              $("#warningDiv").html("<p>Updated [" + $("#programid").val() + "] " + $("#programname").val() +
                                    " (" + $("#agency").val() +")</p>");
              $("#warningDiv").show();
            });
        }

        $(document).ready(function() {
          $("#newButton").button();
          $("#warningDiv").hide();
          loadTable('/programs/ajax/list', false, $('#programsTable'));
        } );
      </script>
    </body>
</html>
