<!DOCTYPE html>
<html>
    <head>
        <title>Proposal Budget Details</title>
        <link rel="stylesheet" href="css/budgetdetails.css"/>
    </head>
    {% for error in debug %}
      <pre>error.msg</pre>
    {% endfor %}
    <body>
      <div class="container">
        <div id="title">
          <p>DETAILED BUDGETARY INFORMATION</p>
          <p>PRINCIPAL INVESTIGATOR:</p>
          <p>{{ proposal.person.name }}</p>
          <p>PROJECT NAME:</p>
          <p>{{ proposal.projectname }}</p>
          {% set years = years|dictsort %}
          <table width=100%>
          <tr><th></th>{% for year in years %}<th>{{ year[0] }}</th>{% endfor %}<th>ALL YEARS</th></tr>
          <tr><th align="left" >A + B SALARIES/WAGES/BENEFITS</th>
            {% set grand_total = 0 %}
            {% for year in years %}
              <th>
                {% set yearly_total = 0 %}
                {% for staffing in year[1] %}
                    {% set yearly_total = yearly_total + staffing.person.salary.estsalary + staffing.person.salary.estbenefits %}
                {% endfor %}
                {{ yearly_total|currencyformat }}
              </th>
            {% endfor %}
            <th>{{ grand_total|currencyformat }}</th></tr>

              <tr><th class="bordered">{{ proposal.person.name }}</th>{% for year in years %}<td></td>{% endfor %}

            <td></td></tr>
          </table>
        </div>
      </div>
    </body>
</html>
