{% extends 'page_template.html' %}
{% set active_page = 'projects' %}

{% block head %}{{ super() }}<title>Budgeting: Projects</title>{% endblock %}

{% block body %}
  {{ super() }}
    <a href='javascript:void(0)' onClick="editDialog('/proposals/ajax/edit/0', null, $('#proposalsTable'))" class="button new">New Project</a>
    <div class="alert ui-corner-all ui-state-highlight" style="display: none;"></div>
    <div id="proposalsTableDiv">
      <table id="proposalsTable" class="display" cellspacing="0" width="100%">
        <thead><tr><th>Proposal</th><th>Reports</th><th>PI</th><th>Program</th><th>Status</th><th>Start</th><th>End</th><th>Modified</th><th></th></tr></thead>
      </table>
    </div>
{% endblock %}

{% block javascript %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $('.button').button();
      loadTable('/proposals/ajax/list', false, $('#proposalsTable'));
    } );
  </script>
{% endblock %}
