<form id="proposalForm" action="index.php" method="GET">
  <input type='hidden' name='proposalid' value='new'/>
  <input type='hidden' name='view' value='proposal-save'/>
  <table>
    <tr><th>Project Name</th>
        <td colspan="3"><input type='text' name='projectname' size="70" value=''/></td></tr>
    <tr><th>Principal Investigator</th>
        <td colspan="3">
        {% with dropdown_name = 'peopleid', dropdown_id = 'proposalpeopledropdown',
                selected_peopleid = g.user.peopleid %}
            {% include 'people-dropdown.html' %}
        {% endwith %}            
        </td>
    </tr>
    <tr><th>Funding Program</th>
        <td colspan="3">
        {% with dropdown_name = 'programid', dropdown_id = 'programiddropdown',
                selected_programid = 0 %}
            {% include 'programs-dropdown.html' %}
        {% endwith %}
        </td>
    </tr>
    <tr><th>Status</th>
        <td colspan="3">
        {% with dropdown_name = 'status', dropdown_id = 'statusdropdown',
                selected_status = 0 %}
            {% include 'status-dropdown.html' %}
        {% endwith %}
        </td>
    </tr>
    <tr><th>Proposal Number</th>
        <td><input type='text' name='proposalnumber' value=''/></td>
        <th>Award Number</th>
        <td><input type='text' name='awardnumber' value=''/></td></tr>
    <tr><th>Starting</th>
        <td><input type='text' id='proposalperfperiodstart' name='perfperiodstart' value=''
            onchange="updateDropDown('proposalperfperiodstart');"/>
            {% with dropdown_name = 'perfperiodstart', dropdown_id = 'proposalperfperiodstart',
                    selected_fy = '' %}
            {% include 'fiscalyear-dropdown.html' %}
            {% endwith %}
        </td>
        <th>Ending</th>
        <td><input type='text' id='proposalperfperiodend' name='perfperiodend' value=''
            onchange="updateDropDown('proposalperfperiodend');"/>
            {% with dropdown_name = 'perfperiodend', dropdown_id = 'proposalperfperiodend',
                    selected_fy = '' %}                          
            {% include 'fiscalyear-dropdown.html' %}
            {% endwith %}
        </td></tr>
    </tr>
  </table>
</form>

<script>
    $(document).ready(function() {
        $("#proposalperfperiodstart").datepicker();
        $("#proposalperfperiodend").datepicker();
        updateDropdown ('proposalperfperiodstart');
        updateDropdown ('proposalperfperiodend');
    });
</script>